.catalog {
    padding-bottom: 100px;
    &__header {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
    }
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 223px;
        height: 52px;
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        transform: skewX(-25deg);
        color: #6B6B6B;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px #C70101;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background: #C70101;
            color: white;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8; 
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            display: block;
            max-width: 100%;
            height: 200px;
            margin: 0 auto;
        }
        &__subtitle {
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            margin-top: 15px;
        }
        &__link {
            display: block;
            font-weight: 500;
            font-size: 14px;
            color: #C70101;
            text-transform: uppercase;
            text-align: center;
            margin-top: 10px;
            transition: 0.5s all;
            &:hover {
                color: #630000;
            }
        hr {
            background: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__new-price {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }
        &__btn {
            width: 135px;
            height: 44px;
            border-radius: 5px;
            background: #C70101;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            transition: 0.5s all;
            &:hover {
                background: #5e0101;
            }
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;

            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            color: #555555;
            margin-bottom: 0;
            padding-left: 19px;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: #C70101;
                    left: -14px;
                    top: 7px;

                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 11px));
            text-transform: uppercase;
            color: #C70101;
            font-size: 14px;
            font-weight: 500;
            transition: 0.5s all;
            &:hover {
                color: #5e0101;
            }
        }
    }
}