.reviews {
    padding-bottom: 71px;
    &__item {
        display: flex;
        margin-top: 100px;
        &:nth-child(2){
            margin-top: 70px;
        }
    }
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    img {
        width: 170px;
        height: 170px;
    }
    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }
    &__count {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__descr {
        color: #0d0d0d;
        font-weight: 300;
        font-size: 16px;
        margin-top: 10px;
    }
}